# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.suo
/.vs/*
/packages
/CpuOps/Debug
/CpuOps/Release
/Debug
/Seq2SeqConsole/Properties/PublishProfiles/FolderProfile.pubxml.user
/Seq2SeqSharp/Properties/PublishProfiles/FolderProfile.pubxml.user
*.user
/AdvUtils/obj
/AdvUtils/bin
/Tests/Seq2SeqSharp.Tests/bin
/Tools/SeqDictMatchConsole/bin/Release/net6.0
/Tools/SeqDictMatchConsole/obj
/Tools/SeqWebApps/bin
/Tools/SeqWebApps/obj
/Tools/SeqDictMatchConsole/bin/Debug/net6.0
/CpuOps/x64/Debug
/Tests/Seq2SeqSharp.Tests/obj/Debug/net6.0
/Tests/Seq2SeqSharp.Tests/obj/Seq2SeqSharp.Tests.csproj.nuget.g.targets
/Tests/Seq2SeqSharp.Tests/obj/Seq2SeqSharp.Tests.csproj.nuget.g.props
/Tests/Seq2SeqSharp.Tests/obj/Seq2SeqSharp.Tests.csproj.nuget.dgspec.json
/Tests/Seq2SeqSharp.Tests/obj/project.nuget.cache
/Tests/Seq2SeqSharp.Tests/obj/project.assets.json
