
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .loading {
        display: none;
    }
    .changeIt {
        display: none;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Automatic Text Generation Demo</title>
</head>
<body>

    <h1>Automatic Text Generation Demo Powered by <a href="https://github.com/zhongkaifu/Seq2SeqSharp">Seq2SeqSharp</a></h1>
    <br />
    <p>Given input text, the model will continue writing it. You can try different values of repeating penalty and distance penalty to generate different output text.</p>
    <br />
    <label id="promptInput">Input Text:</label>
    <br />
    <textarea type="text" id="txtName" cols="100" rows="20"></textarea>
    <br />
    <label id="promptOutputTokenNum">The number of tokens to output in each step:</label>
    <select id="ddlOutputTokenNum">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected="selected">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
    </select>

    <label id="promptRepeatPenalty">Penalty for repeat:</label>
    <select id="ddlRepeatPenalty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10"  selected="selected">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
    </select>


    <label id="promptContextSize">Context size:</label>
    <select id="ddlContextSize">
        <option value="128"  selected="selected">128</option>
        <option value="256">256</option>
        <option value="384">384</option>
        <option value="512">512</option>
        <option value="768">768</option>
    </select>


    <input type="button" id="btnGet" value="Generate Text" />
    <input type="button" id="btnCancel" value="Cancel" />

    <br />
    <div class="loading"><label id="statusText"></label></div>
    <label id="promptOutput">Output Text:</label>
    <br />
    <label id="outputText"></label>
    
    <div class="changeIt">
    <input type="button" id="btnNextBatch" value="Change it" />
    </div>

    <label hidden id="clientIP">Input Text:</label>
   


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="application/javascript">
  function getIP(json) {
      $("#clientIP").html(json.ip);
  }
</script>

<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>


    <script type="text/javascript">
        $(function () {
            $("#btnGet").click(function () {

                $("#btnGet").attr("disabled", true);
           
                $("#clientIP").load()

                $.ajax({
                    type: "POST",
                    url: "/Home/GenerateText",
                    data: { "srcInput": $("#txtName").val(), "tgtInput": $("#txtName").val(), "num": $("#ddlOutputTokenNum").val(), 
                    "random": false, "repeatPenalty": $("#ddlRepeatPenalty").val(), 
                    "contextSize": $("#ddlContextSize").val(), "clientIP": $("#clientIP").text()},
                    beforeSend: function () {

                        $("#outputText").html("");
                        $("#statusText").html("Generating...");

                      
                    },
                    success: function (response) {
                        $("#outputText").html(response.output);

                        if (response.output.endsWith("eos") == true || response.output.endsWith("EOS") == true)
                        {
                            $("#statusText").html("Done");
                            $("#btnGet").attr("disabled", false);
                        }


                        $("#outputText").load();
                        $("#btnNextBatch").trigger("click");

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $("#btnNextBatch").click(function () {

                $("#clientIP").load()


                $.ajax({
                    type: "POST",
                    url: "/Home/GenerateText",
                    data: { "srcInput": $("#txtName").val(), "tgtInput": $("#outputText").text(), "num": $("#ddlOutputTokenNum").val(), 
                    "random": false, "repeatPenalty": $("#ddlRepeatPenalty").val(), 
                    "contextSize": $("#ddlContextSize").val() , "clientIP": $("#clientIP").text()},
                    beforeSend: function () {
                    },
                    success: function (response) {

                        if (response.output == $("#outputText").text())
                        {
                            $("#statusText").html("Cancelled");
                        }
                        else
                        {
                            if (response.output.endsWith("eos") == true || response.output.endsWith("EOS") == true)
                            {
                                $("#statusText").html("Done");
                                $("#btnGet").attr("disabled", false);
                            }

                            $("#outputText").html(response.output);
                            $("#outputText").load();

                            if ($("#statusText").text() == "Generating...")
                            {
                               $("#btnNextBatch").trigger("click");
                            }
                            else
                            {
                                $("#statusText").html("Cancelled");
                            }
                         }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });


            $("#btnCancel").click(function () {
                $("#statusText").html("Cancelled");

                $("#btnGet").attr("disabled", false);
            });
            });
        });
    </script>
</body>
</html>
