@page
@model SeqWebApps.Pages.TextGenerationModel
@{    
}



<form method="post">

    <textarea asp-for="InputText" cols="200" rows="5"></textarea>

    <input type="submit" value="submit">
</form>

<label>Output Text:</label>
<p>@Model.OutputText</p>